<div class="panel panel-default">
    <div class="panel-body">
        <div class="tomato-grid-panel__search-bar search input-group col-sm-4 ">
            <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchText">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"> 
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="col-sm-5">

        </div>
        <div class="tomato-grid-panel__search-bar input-group col-sm-3">            
            <div class="filterLabel">Type : &nbsp;&nbsp;</div>
            <select class="form-control typeFilter" ng-model="vm.selectedType" ng-options="x for x in vm.Types" ng-change="vm.filterDataByType()">
            </select>            
        </div>
    </div>
    <table class="table table-striped table-responsive table-hover announcements_table">
        <thead class="thead-default">
            <tr class="announcements_table_thead">
                <th class="col-md-5">Title</th>
                <th class="col-md-3">Date</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-3">Created by (Owner)</th>
            </tr>
        </thead>
        <tbody class="announcements_table_tbody">
            <tr ng-repeat="announcement in vm.filteredData | filter: vm.searchText | orderBy : ['-Date'] | filter : vm.selectedType">
                <td class="col-md-5">{{announcement.Title}}</td>
                <td class="col-md-3">{{announcement.Date | date: 'MMM. dd, yyyy'}}</td>
                <td class="col-md-2">
                    <span class="{{announcement.Type.Icon}}" title="{{announcement.Type.Title}}"></span>
                </td>
                <td class="col-md-3">{{announcement.Owner}}</td>
            </tr>
        </tbody>
    </table>
</div>